<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI" 
                     path="*" 
                     verb="*" 
                     modules="FastCgiModule" 
                     scriptProcessor="c:\pythonenv\liuhuipy\scripts\python.exe|c:\pythonenv\liuhuipy\lib\site-packages\wfastcgi.py"
                     resourceType="Unspecified" 
                     requireAccess="Script"/>
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\py_project\dgblogProject\djangoblog\" />
            <add key="DJANGO_SETTINGS_MODULE" value="djangoblog.settings" />
        </appSettings>
    </configuration>