<div id="weixin">
    <div class="panel panel-test">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-yen"></span>
                打赏
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right" data-toggle="collapse" data-target="#weixin-list"></span>
            </h3>
        </div>
        <ul id="weixin-list" class="list-group collapse in">
            <img src="/static/images/weixin.png" width="253">
            <p style="color: #3e8f3e;">支持微信支付，随意就好，建议1-20元</p>
        </ul>
    </div>
</div>